.App {
  text-align: center;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

ul.navbar li {
  list-style: none;
}

ul.navbar li {
  color: #000;
}

ul.blog-list {
  display: flex;
  flex-wrap: wrap;
}

ul.blog-list h2 {
  font-size: 20px;
}

ul.blog-list li {
  flex-basis: 33%;
}

.blog-info {
  display: flex;
  column-gap: 30px;
}

.blog-info img {
  margin-top: 2%;
}

.view-details {
  padding: 5px 10px;
  margin-top: 10px;
  display: block;
  background-color: #a52a2a;
  color: #fff;
  border: none;
  cursor: pointer;
}

.view-details:hover {
  background-color: #fff;
  color: #a52a2a;
  border: 1px solid #a52a2a;
}

footer .wrapper {
  text-align: center;
}

.hotspot {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}

.hotspot:hover {
  background-color: orange;
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
}

.blog-image {
  position: relative;
}

.blog-info .blog-image img {
  width: 100%;
}

.hotspot-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.hotspot-details p {
  margin-left: 10px;
}

.language-buttons {
  position: absolute;
  right: 5%;
  top: 0;
}

.language-buttons button {
  margin-right: 10px;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.share-buttons {
  margin-bottom: 20px;
}

.share-buttons button {
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  color: #333;
  cursor: pointer;
}

.comment-form {
  width: 50%;
  margin-bottom: 20px;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.comment-form textarea {
  height: 100px;
}

.comment-form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #45a049;
}

.comments-section h3 {
  margin-bottom: 10px;
}

.comments-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.comments-section li {
  margin-bottom: 10px;
}

.comments-section h4 {
  margin-bottom: 5px;
}

.comments-section p {
  margin: 0;
}

.header-container {
  background-color: #f2f2f2;
}

.header-container .wrapper {
  color: #333;
  display: flex;
  align-items: center;
  column-gap: 5%;
  padding: 30px;
}

.logo {
  width: 50px;
  height: 50px;
}

.logo img {
  width: 100%;
}

.menu-items {
  list-style: none;
  display: flex;
  gap: 10px;
}

.phone-email {
  margin-top: 10px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.phone-email svg {
  color: #000;
}

.phone-email a {
  color: #000;
}

.footer-container {
  background-color: #000;
  color: #555;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: space-around;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  color: #fff;
}

footer ul {
  list-style: none;
  padding: 0;
}

.links {
  margin-bottom: 10px;
}

.social-media {
  display: flex;
  column-gap: 30px;
  margin-bottom: 10px;
}

.social-media li a {
  color: #dc143c;
}

.social-media li a:hover {
  color: #fff;
}

.address {
  margin-bottom: 10px;
  color: #fff;
}

.newsletter {
  color: #fff;
  font-style: italic;
}


@media only screen and (max-width: 1024px) {
  .blog-info {
    flex-direction: column;
  }

  .blog-info img {
    width: auto;
  }

  ul.blog-list {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  .header-container .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  ul {
    padding-inline-start: 0;
  }

  ul.blog-list {
    justify-content: center;
  }

  .social-media {
    column-gap: 15px;
  }

  .footer-top {
    flex-wrap: wrap;
  }
}