.App {
  text-align: center;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

ul.navbar li {
  list-style: none;
}

ul.navbar li {
  color: #000;
}

ul.blog-list {
  display: flex;
  flex-wrap: wrap;
}

ul.blog-list h2 {
  font-size: 20px;
}

ul.blog-list li {
  flex-basis: 33%;
}

.blog-info {
  display: flex;
  column-gap: 30px;
}

.blog-info img {
  margin-top: 2%;
}

.view-details {
  padding: 5px 10px;
  margin-top: 10px;
  display: block;
  background-color: #a52a2a;
  color: #fff;
  border: none;
  cursor: pointer;
}

.view-details:hover {
  background-color: #fff;
  color: #a52a2a;
  border: 1px solid #a52a2a;
}

footer .wrapper {
  text-align: center;
}

.hotspot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}

.hotspot:hover {
  background-color: orange;
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
}

.hotspot-details {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.hotspot-details p {
  margin-left: 10px;
}

@media only screen and (max-width: 1024px) {
  .blog-info {
    flex-direction: column;
  }

  .blog-info img {
    width: auto;
  }
}
